<div class="twidth">
  <div id="navbar">
    <div class="l"></div>
    <div class="r"></div>
  </div>

  <div id="navsub">
    <div class="l"></div>
    <div class="r"></div>
    <div class="m">
      <%=forum_tab @article.forum ? @article.forum : @article.father_forum%>
    </div>
  </div>

  <table id="middle" width="100%" cellspacing="0" cellpadding="0" style="table-layout:fixed">
    <tbody><tr valign="top"><td>

          <div class="mframe mR">
            <div class="tl"></div>
            <div class="tr"></div>
            <div class="tm">
              <div class="moreR">
			背景：
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#EDF0F5" alt="#EDF0F5" onclick="ContentBg(&quot;#EDF0F5&quot;)" />
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#FAFBE6" alt="#FAFBE6" onclick="ContentBg(&quot;#FAFBE6&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#FFF2E2" alt="#FFF2E2" onclick="ContentBg(&quot;#FFF2E2&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#FDE6E0" alt="#FDE6E0" onclick="ContentBg(&quot;#FDE6E0&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#F3FFE1" alt="#F3FFE1" onclick="ContentBg(&quot;#F3FFE1&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#DAFAF3" alt="#DAFAF3" onclick="ContentBg(&quot;#DAFAF3&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#EAEAEF" alt="#EAEAEF" onclick="ContentBg(&quot;#EAEAEF&quot;)"/>
                <img src="/images/b.gif" style="cursor:pointer;width:7px;height:6px;border:1px solid #999;background:#FFF" alt="默认" onclick="ContentBg(&quot;&quot;)"/>
              </div>
              <span class="tt">阅读文章</span>
            </div>
            <div class="wrapper">
              <div class="ml"></div>
              <div class="mr"></div>
              <div class="mm" id="bodyTd" style="background-color: rgb(237, 240, 245); ">
                <div id="printBody" style="word-break:break-all;">
                  <div style="text-align:center"><h1 class="aTitle"><%=@article.title%></h1></div>
                  <table width="97%" align="center">
                    <tbody><tr>
                        <td width="140">[日期：<%=@article.updated_at.strftime("%Y-%m-%d")%>]</td>
                        <td align="center">作者：<%=@article.author%></td>
                        <td width="160" align="right">[字体：<a href="javascript:ContentSize(16)">大</a> <a href="javascript:ContentSize(0)">中</a> <a href="javascript:ContentSize(12)">小</a>]
                        </td></tr>
                    </tbody>
                  </table>
                  <div id="content" style="overflow-x: hidden; word-break: break-all; font-size: 16px; ">
                    <%= raw @article.context%>
                  </div>
                </div>
                <ul id="digg" class="digg">
                  <li class="digg1"><%=@article.read_num ? @article.read_num : 0%></li>
                  <li class="digg2"><a href="###">点击数</a></li>
                </ul>
                <div style="padding-right:20px;text-align:right;clear:both">
                  <a href="###" onclick="addfavorite('<%=article_path(@article)%>','<%=@article.title%>')" class="fav">收藏</a>
                  <a href="javascript:doPrint()" class="print">打印</a>
                </div>
              </div>
            </div>
            <div class="bl"></div>
            <div class="br"></div>
            <div class="bm"></div>
          </div>

          <div class="mframe mR">
            <div class="tl"></div>
            <div class="tr"></div>
            <div class="tm">
              <span class="tt">相关文章</span> &nbsp; &nbsp; &nbsp;
            </div>
            <% re_articles = Article.find(:all,:conditions=>["(forum_id = ? or first_forum_id = ? ) and id !=#{@article.id}",@article.forum_id,@article.first_forum_id],:limit=>10) %>
            <% if  re_articles.length>0%>
              <% for i in 0 .. re_articles.length-1 %>

                <%if i%2 ==0%><div class="nearNews"><%end%>
                 <%if i%2 ==0%>
                    <div class="prevNews">
                      <%=link_to re_articles[i].title,"/homes/articles/#{ re_articles[i].id}"%>
                    </div>
                  <%end%>
                  <%if i%2 ==1%>
                    <div class="nextNews">
                      <%=link_to re_articles[i].title,"/homes/articles/#{ re_articles[i].id}"%>
                    </div>
                  <%end%>
                  <%if i%2 ==1%>   </div><%end%>
              <%end%>
            <%end%>
            <div class="wrapper">
              <div class="ml"></div>
              <div class="mr"></div>
              <div class="mm">

              </div>
            </div>
            <div class="bl"></div>
            <div class="br"></div>
            <div class="bm"></div>
          </div>

         
        </td><td width="250" valign="top">

          <div class="lframe">
            <div class="tl"></div>
            <div class="tr"></div>
            <div class="tm">
              <span class="tt">点击排行</span>
            </div>
            <div class="wrapper">
              <div class="ml"></div>
              <div class="mr"></div>
              <div class="mm">
                <ul class="dnl">
                  <%Article.find(:all,:order=>"read_num desc",:limit=>20).each do |article|%>
                    <li>
                      <%= link_to raw("<span class='diggN'>#{article.read_num ? article.read_num : 0}</span> #{strip_html(article.title,8)}"),"/homes/articles/#{article.id}"%>
                      <span style="float:right;"><font size="1"><%= article.updated_at.strftime("%Y-%m-%d")%></font></span>
                    </li>
                  <%end%>
                </ul>
              </div>
            </div>
            <div class="bl"></div>
            <div class="br"></div>
            <div class="bm"></div>
          </div>
          en

        </td></tr>
    </tbody></table>
</div>

<script type="text/javascript">
            $.ajax({                                                
                type: "GET",                                    
                url: "/homes/read?id=<%=@article.id%>"
            });

</script>