<%# encoding: utf-8 %>
<div class="twidth">

  <div id="navsub">
    <div class="l"></div>
    <div class="r"></div>
    <div class="m">&nbsp;
    </div>
  </div>

  <div id="middle">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tbody><tr valign="top">
          <td>
            <div class="mf mR">
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <span class="tt1"></span>
              </div>
              <div class="wrapper">
                <div class="ml"></div>
                <div class="mr"></div>
                <div class="mm">
                  <table width="100%">
                    <tbody>
                      <tr valign="top">
<%#*<td width="300">%>
<%#if @toutiao_xinwen and @toutiao_xinwen.length >0%>
<%#*<div id="slImg" style="width:293px;height:180px">%>
<%#=link_to image_tag(@toutiao_xinwen[0].picture ? @toutiao_xinwen[0].picture.data.url(:content) : "/images/missing.png",:width=>"293",:height=>"180"),articles_homes_path(@toutiao_xinwen[0])%>
<%#*</div>%>
<%#*<div id="slTitle" style="width:293px">%>
<%#*<div id="slLink">%>
<%#=link_to @toutiao_xinwen[0].title,articles_homes_path(@toutiao_xinwen[0]) ,:target=>"_blank",:class=>"bla"%>
<%#*</div>%>
<%#*</div>%>
<%#end%>
<%#*</td>%>

                        <td width="300">
                          <script type="text/javascript">
                             a = new Array();
                             <%if @toutiao_xinwen.length >0 %>
                            <%for i in 0..@toutiao_xinwen.length-1 %>
                              <%if i < 3%>
                                a[<%=i%>] = ['<%=@toutiao_xinwen[i].title%>','<%=articles_homes_path(@toutiao_xinwen[i])%>','<%=@toutiao_xinwen[i].picture ? @toutiao_xinwen[i].picture.data.url(:content) : "/images/missing.png"%>']
                               <%end%>
                           <%end%>
                             <%end%>
                            imgSlide.init(293,180,a,33);
                          </script>
                        </td>

                        <td><div class="head">
                            <div id="firstHeadline">
                              <center>
                                <%if @toutiao_xinwen and @toutiao_xinwen.length >3%>
                                  <%=link_to @toutiao_xinwen[3].title,articles_homes_path(@toutiao_xinwen[3]),:target=>"_blank",:class=>"title" %>
                                <%end%>
                              </center>
                            </div>
                            <ul class="nl">
                              <%if @toutiao_xinwen and @toutiao_xinwen.length >4%>
                                <% for i in 4 .. @toutiao_xinwen.length-1%>
                                  <li> <%=link_to @toutiao_xinwen[i].title,articles_homes_path(@toutiao_xinwen[i]),:target=>"_blank" %></li>
                                <%end%>
                              <%end%>
                            </ul>
                          </div>
                        </td></tr>
                    </tbody></table>
                </div>
              </div>
              <div class="bl"></div>
              <div class="br"></div>
              <div class="bm"></div>
            </div>

            <table id="dlAll" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody>
                <tr>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "guoneixinwen"}%>
                  </td>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "guojixinwen"}%>
                  </td>
                </tr>
                <tr>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "xiehuidongtai"}%>
                  </td>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "hangzhoudongtai"}%>
                  </td> 
                </tr>
              </tbody></table>

            <!-- 图片新闻-->
            <div class="mf mR">
              <% @tupianforum = Forum.find_by_code("tupianxinwen") %>
              <% @tupianxinwen = @tupianforum.articles(:order=>"create_at desc",:limit=>"5") %>
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <div class="moreR">  <%=link_to("更多 > >",forums_homes_path(@tupianforum))%></div>
                <span class="tt2"></span>
              </div>
              <div class="wrapper">
                <div class="mm">
                  <div class="imgList">
                    <ul>

                      <%@tupianxinwen.each do |xinwen|%>
                        <li style="width:20%">
                          <%=link_to image_tag(xinwen.picture.data.url(:content),:width=>"120",:height=>"90")+xinwen.title,articles_homes_path(xinwen)%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- 广告-->
            <div class="mf mR">
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <span></span>
              </div>
              <div class="wrapper">
                <div class="mm">
                  <div class="imgList">
                    <ul>
                      <% @tupianxinwen = Forum.find_by_code("tupianxinwen").articles(:order=>"create_at desc",:limit=>"5") %>
                      <%@tupianxinwen.each do |xinwen|%>
                        <li style="width:20%">
                          <%=link_to image_tag(xinwen.picture.data.url(:content),:width=>"120",:height=>"90")+xinwen.title,xinwen%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="mR"><img style="display: none !important; visibility: hidden !important; opacity: 0 !important"></div>
            <div class="height7"></div>
            <div class="mframe" style="float:left; width:346px">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "huanbaopeixun"}%>
            </div>
            <div class="mframe mR" style="float:right; width:346px;">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "kepu"}%>
            </div>
            <div class="mframe" style="float:left; width:346px">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "jishuchangping"}%>
            </div>
            <div class="mframe mR" style="float:right; width:346px;">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "shifanggongcheng"}%>
            </div>
          </td>
          <td width="250">
            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "tongzhi"}%>
            </div>
            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "huanbaozhinan"}%>
            </div>

            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "zhence"}%>
            </div>

            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "gongbao"}%>
            </div>
            <div class="lframe">
              <div class="tm">
                <span class="tt2">网站调查</span>
              </div>
              <div class="wrapper">
                <div class="mm" style="padding:9px;">
                  <form action="pollView.aspx" method="post" target="DvnPoll"><div style="padding:5px;"><div><b>你从何处获知本站的？</b></div><div style="padding:6px 0"><input type="hidden" name="id" value="1"><input type="radio" value="0" name="item">电视媒体报道<br><input type="radio" value="1" name="item">互联网 搜索<br><input type="radio" value="2" name="item">报纸 杂志<br><input type="radio" value="3" name="item">与朋友的谈话<br><input type="radio" value="4" name="item">其他方式<br></div><div align="center"><button type="submit" class="pollSubmit">投票</button>&nbsp; &nbsp;<button type="button" class="pollView" onclick="ViewPoll(1)">查看</button></div></div></form>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody></table>
    <div class="mframe">
      <div class="tm">
        <span class="tt1">友情链接</span>
      </div>
      <div class="wrapper">
        <div class="mm links">
          <%FriendLink.find(:all).each do |link|%>
          <%=link_to link.name,link.url,:tager=>"_blank",:style=>"width:10%"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div id="login" class="conInfo" style="display:none;"><form id="loginForm" method="post" action="login.aspx" style="padding:5px 0"><ul style="list-style:none;margin:0;padding:0;text-align:center;"><li><input type="text" class="inputbg" name="memberName" size="15" maxlength="50" onblur="iwms.logBlur(this)" onfocus="iwms.logFocus(this)" value="用户名" style="color:#999"> <select name="keepLogin" style="width:60px"><option value="">不保留</option><option value="day">一天</option><option value="week">一周</option><option value="month">一月</option><option value="year">一年</option></select></li><li style="padding:10px 0"><input type="text" class="inputbg" value="密码" name="hdPass" size="15" style="color:#999" onfocus="iwms.logFocus(this)"><input type="password" class="inputbg" style="display:none" name="memberPass" size="15" maxlength="50" onblur="iwms.logBlur(this)">&nbsp;<button type="submit" onclick="return iwms.logChk(this);" style="width:60px">登 录</button></li><li><a href="memberreg.aspx">注册</a>　<a href="memberactive.aspx">激活</a>　<a href="memberLostpass.aspx">忘记密码</a></li></ul></form></div>
</div>