<div class="twidth">

  <div id="navsub">
    <div class="l"></div>
    <div class="r"></div>
    <div class="m">&nbsp;
    </div>
  </div>

  <div id="middle">
  
    <table width="100%" cellpadding="0" cellspacing="0">
      <tbody><tr valign="top">
          <td>
            <div class="mf mR">
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <span class="tt1"></span>
              </div>
              <div class="wrapper">
                <div class="ml"></div>
                <div class="mr"></div>
                <div class="mm">
                  <table width="100%">
                    <tbody>
                      <tr valign="top">
<%#*<td width="300">%>
<%#if @toutiao_xinwen and @toutiao_xinwen.length >0%>
<%#*<div id="slImg" style="width:293px;height:180px">%>
<%#=link_to image_tag(@toutiao_xinwen[0].picture ? @toutiao_xinwen[0].picture.data.url(:content) : "/images/missing.png",:width=>"293",:height=>"180"),articles_homes_path(@toutiao_xinwen[0])%>
<%#*</div>%>
<%#*<div id="slTitle" style="width:293px">%>
<%#*<div id="slLink">%>
<%#=link_to @toutiao_xinwen[0].title,articles_homes_path(@toutiao_xinwen[0]) ,:target=>"_blank",:class=>"bla"%>
<%#*</div>%>
<%#*</div>%>
<%#end%>
<%#*</td>%>

                        <td width="300">
                          <script type="text/javascript">
                             a = new Array();
                             <%if @toutiao_xinwen.length >0 %>
                            <%for i in 0..@toutiao_xinwen.length-1 %>
                              <%if i < 3%>
                                a[<%=i%>] = ['<%=@toutiao_xinwen[i].title%>','<%=articles_homes_path(@toutiao_xinwen[i])%>','<%=@toutiao_xinwen[i].picture ? @toutiao_xinwen[i].picture.data.url(:thumb) : "/images/missing.png"%>']
                               <%end%>
                           <%end%>
                             <%end%>
                            imgSlide.init(293,180,a,33);
                          </script>
                        </td>

                        <td><div class="head">
                            <div id="firstHeadline">
                              <center>
                                <%if @toutiao_xinwen and @toutiao_xinwen.length >3%>
                                  <%=link_to @toutiao_xinwen[3].title,articles_homes_path(@toutiao_xinwen[3]),:target=>"_blank",:class=>"title" %>
                                <%end%>
                              </center>
                            </div>
                            <ul class="nl">
                              <%if @toutiao_xinwen and @toutiao_xinwen.length >4%>
                                <% for i in 4 .. @toutiao_xinwen.length-1%>
                                  <li> <%=link_to @toutiao_xinwen[i].title,articles_homes_path(@toutiao_xinwen[i]),:target=>"_blank" %></li>
                                <%end%>
                              <%end%>
                            </ul>
                          </div>
                        </td></tr>
                    </tbody></table>
                </div>
              </div>
              <div class="bl"></div>
              <div class="br"></div>
              <div class="bm"></div>
            </div>

            <table id="dlAll" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody>
                <tr>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "guoneixinwen"}%>
                  </td>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "guojixinwen"}%>
                  </td>
                </tr>
                <tr>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "xiehuidongtai"}%>
                  </td>
                  <td class="alignTop" width="50%">
                    <%= render :partial => 'common/article_list1' ,:locals => { :code => "hangzhoudongtai"}%>
                  </td> 
                </tr>
              </tbody></table>

            <!-- 图片新闻-->
            <div class="mf mR">
              <% @tupianforum = Forum.find_by_code("tupianxinwen") %>
              <% @tupianxinwen = @tupianforum.articles(:order=>"create_at desc",:limit=>"5") %>
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <div class="moreR">  <%=link_to("更多 > >",forums_homes_path(@tupianforum))%></div>
                <span class="tt2"></span>
              </div>
              <div class="wrapper">
                <div class="mm">
                  <div class="imgList">
                    <ul>

                      <%@tupianxinwen.each do |xinwen|%>
                        <li style="width:20%">
                          <%=link_to image_tag(xinwen.picture ? xinwen.picture.data.url(:thumb) : "/images/missing.png",:width=>"120",:height=>"90")+xinwen.title,articles_homes_path(xinwen)%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- 广告-->
            <div class="mf mR">
              <div class="tl"></div>
              <div class="tr"></div>
              <div class="tm">
                <span></span>
              </div>
              <div class="wrapper">
                <div class="mm">
                  <div class="imgList">
                    <ul>

                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="mR"><img style="display: none !important; visibility: hidden !important; opacity: 0 !important"></div>
            <div class="height7"></div>
            <div class="mframe" style="float:left; width:346px">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "huanbaopeixun"}%>
            </div>
            <div class="mframe mR" style="float:right; width:346px;">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "kepu"}%>
            </div>
            <div class="mframe" style="float:left; width:346px">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "jishuchangping"}%>
            </div>
            <div class="mframe mR" style="float:right; width:346px;">
              <%= render :partial => 'common/article_listb1' ,:locals => { :code => "shifanggongcheng"}%>
            </div>
          </td>
          <td width="250">
            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "tongzhi"}%>
            </div>
            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "huanbaozhinan"}%>
            </div>

            <div class="lframe">
              <%= render :partial => 'common/article_listc1' ,:locals => { :code => "zhence"}%>
            </div>

            <div class="lframe">
              <%#= render :partial => 'common/article_listc1' ,:locals => { :code => "gongbao"}%>

				<div class="tl"></div>
				<div class="tr"></div>
				<div class="tm"><div class="moreR"> </div>
				  <span class="tt1">联系我们</span>
				</div>
				<div class="wrapper">
				  <div class="ml"></div>
				  <div class="mr"></div>
				  <div class="mm" style="height:218px; overflow:hidden;">
					  <div class='infolist'> 
					  <ul style='font-size: 14px;'>
                          <li class="li2"  ><span >地址:杭州市德胜路218号</span></li>
						  <li class="li2"  ><span>电话:0571-86079175、88836773</span></li>
						  <li class="li2"  ><span>传真:0571-86079175</span></li>
						  <li class="li2"  ><span>邮箱:</span><span>cyxh2011@126.com</span></li>
						 </ul>
					  </div>



				  </div>
				</div>
				<div class="bl"></div>
				<div class="br"></div>
				<div class="bm"></div>
							</div>
            
          </td>
        </tr>
      </tbody></table>
    <div class="mframe">
      <div class="tm">
        <span class="tt1">友情链接</span>
      </div>
      <div class="wrapper">
        <div class="mm links">
          <%FriendLink.find(:all).each do |link|%>
          <%=link_to link.name,link.url,:target=>"_blank",:style=>"width:10%"%>
          <%end%>
        </div>
      </div>
    </div>
  </div>

</div>