<div class="lf mR">
  <div class="tm">
    <div class="moreR"><%=link_to("更多 > >",forums_homes_path(Forum.find_by_code(code)))%></div>
    <span class="tt"><%= Forum.find_by_code(code).name %></span>
  </div>
  <% @articles = Forum.find_by_code(code).articles(:order=>"create_at desc",:limit=>"10") %>
  <div class="wrapper">
    <div class="mm">
      <div class="sul">
        <%if @articles and @articles.length >0%>
          <div class="summary">
            <div class="imgDiv" style="float:left">
              <%=link_to image_tag(@articles[0].picture ?  @articles[0].picture.data.url(:content) : "/images/missing.png",:width=>"120",:height=>"90"),articles_homes_path(@articles[0]),:tager=>"_blank"%>
            </div>
            <div class="cont">
              <div class="title">
                <%=link_to @articles[0].title,articles_homes_path(@articles[0]),:tager=>"_blank"%>
              </div>
              <div class="sum"><%= strip_html @articles[0].context,40%></div>
            </div>
          </div>
        <%end%>  
      </div>			  		        
    </div>
    <div class="height0"></div>
    <ul class="nl">
      <%if @articles and @articles.length >1%>
        <%for i in 1 .. @articles.length%>
          <li><%=link_to @articles[i].title,articles_homes_path(@articles[i]),:tager=>"_blank"%></li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>  