<% f= Forum.find_by_code(code) %>
<% a =f.articles_father.length >0 ? f.articles_father(:order=>"create_at desc",:limit=>"10") : f.articles(:order=>"create_at desc",:limit=>"10") %>
<div class="tl"></div>
<div class="tr"></div>
<div class="tm"><div class="moreR"> <%=link_to("更多 > >",forums_homes_path(Forum.find_by_code(code)))%></div>
  <span class="tt1"><%= Forum.find_by_code(code).name %></span>
</div>
<div class="wrapper">
  <div class="ml"></div>
  <div class="mr"></div>
  <div class="mm" style="height:218px; overflow:hidden;">


    <%if a.length >9%>
    
    <script type="text/javascript">
 
var interval=1000;//两次滚动之间的时间间隔
var stepsize=26;//滚动一次的长度，必须是行高的倍数,这样滚动的时候才不会断行
var scrollspeed="normal";//可选("slow", "normal", or "fast")，或者滚动动画时长的毫秒数
var objInterval<%=code%>=null;
 
$(document).ready( 
function(){
//用上部的内容填充下部
$("#bottom<%=code%>").html($("#top<%=code%>").html());
 
//给显示的区域绑定鼠标事件
$("#<%=code%>").bind("mouseover",function(){StopScroll<%=code%>();});
$("#<%=code%>").bind("mouseout",function(){StartScroll<%=code%>();});
 
//启动定时器
StartScroll<%=code%>();
} 
); 
 
//启动定时器，开始滚动
function StartScroll<%=code%>(){
 objInterval<%=code%>=setInterval("verticalloop<%=code%>()",interval);
}
 
//清除定时器，停止滚动
function StopScroll<%=code%>(){
 window.clearInterval(objInterval<%=code%>);
}
 
//控制滚动
function verticalloop<%=code%>(){
//判断是否上部内容全部移出显示区域
//如果是，从新开始;否则，继续向上移动
if($("#<%=code%>").scrollTop()>=$("#top<%=code%>").outerHeight()){
      $("#<%=code%>").scrollTop($("#<%=code%>").scrollTop()-$("#top<%=code%>").outerHeight());
}
//使用jquery创建滚动时的动画效果
$("#<%=code%>").animate({"scrollTop" : $("#<%=code%>").scrollTop()+stepsize +"px"},scrollspeed,function(){
 //这里用于显示滚动区域的scrollTop，实际应用中请删除

});
}
</script>
    
      <div id="<%=code%>" class="infocontent"> 
        <div id="top<%=code%>" class="infolist">
          <ul>
            <%a.each do |article|%>
              <li>
                <div class="bul"><%=link_to strip_html(article.title,len=42,endss="..."),articles_homes_path(article),:tager=>"_blank"%>
                </div>
              </li>
            <%end%>
          </ul>
        </div>
        <div id="bottom<%=code%>" class="infolist"></div> 
      </div>

    <%else%>
      <div class="bul" >
        <%a.each do |article|%>
          <%=link_to strip_html(article.title,len=42,endss="..."),articles_homes_path(article),:tager=>"_blank"%>
        <%end%>
      </div>
    <%end%>

  </div>
</div>
<div class="bl"></div>
<div class="br"></div>
<div class="bm"></div>


