# encoding: utf-8
<html>
  <head>
<title>浙江环保协会后台管理</title>

<link rel="shortcut icon" type="image/png" href="/images/favicons/favicon.png"/>
<link rel="icon" type="image/png" href="/images/favicons/favicon.png"/>
<link rel="apple-touch-icon" href="/images/favicons/apple.png"/>
    <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" />

    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" />
    <%= javascript_include_tag 'swfobject' %>
	<%= javascript_include_tag 'jquery-1.5.1.min' %>
	<%= javascript_include_tag 'jquery.ui.core.min' %>
	<%= javascript_include_tag 'jquery.ui.widget.min' %>
	<%= javascript_include_tag 'jquery.ui.tabs.min' %>
	<%= javascript_include_tag 'jquery.tipTip.min.js' %>
	<%= javascript_include_tag 'jquery.superfish.min' %>
	<%= javascript_include_tag 'jquery.supersubs.min' %>
	<%= javascript_include_tag 'jquery.validate_pack' %>
	<%= javascript_include_tag 'jquery.nyroModal.pack' %>
   

</head>
  
  
<%= render(:partial => "admin/top") %>
<%= yield %>
<%= render(:partial => "admin/bottom") %>
</html>