<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>杭州环保产业协会</title>

    <link rel="icon" href="/images/TriTanium.png" type="image/x-icon"/>
    <%= stylesheet_link_tag "style" %>
     <%= javascript_include_tag 'iwms' %>
     <%= javascript_include_tag 'jquery' %>
      <%= javascript_include_tag 'show' %>
     <%= javascript_include_tag 'page_context' %>
    <script type="text/javascript">iwms.urlPrefix="";iwms.guestAdd=false;</script>
  </head>
  <body>

    <div id="sitehead">
      <div class="l"></div>
      <div class="r"></div>
      <div class="m">
        <table width="100%">
          <tbody>
            <tr valign="top">
              <td width="360" style=" padding-top:5px;">
                 <%=link_to image_tag("/images/logo.png"),"/"%>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="navbar1">
      <div class="l"></div>
      <div class="r"></div>
      <div class="m">
        <a href="/"class="first">首页</a>
        <% @forum_first.each do |forum| %>
        <%=link_to forum.name,forums_homes_path(forum)%>
        <%end%>
      </div>
    </div>
    <%= yield %>
    <div id="footer">
      <div class="bmenu">网站简介| 广告服务 | 网站地图 | 帮助信息 | 联系方式</div>
      Copyright; <a href="" target="_blank">杭州环保产业协会</a> Powered by <span style="font-weight:bold;font-family:arial;">李文静/span>
    </div>


  </body></html>