<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- saved from url=(0124)file:///C:/Documents%20and%20Settings/test/%E6%A1%8C%E9%9D%A2/iwms%E7%BD%91%E7%AB%99%E7%AE%A1%E7%90%86%E7%B3%BB%E7%BB%9F.htm -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="gb2312">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <title>杭州环保协会</title>

    <link rel="icon" href="/images/TriTanium.png" type="image/x-icon"/>
    <%= stylesheet_link_tag "style" %>
     <%= javascript_include_tag 'iwms' %>
      <%= javascript_include_tag 'show' %>
  </head>
  <script>
function addfavorite(url,name)
{
if (document.all)
{
  window.external.addFavorite(url,name)
}
else if (window.sidebar)
{ window.sidebar.addPanel(name, url,"")
}
}
</script>
  <body>

    <div id="sitehead">
      <div class="l"></div>
      <div class="r"></div>
      <div class="m">
        <table width="100%">
          <tbody>
            <tr valign="top">
              <td width="360" style=" padding-top:5px;">
                 <%=link_to image_tag("/images/logo.png"),"/"%>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="navbar1">
      <div class="l"></div>
      <div class="r"></div>
      <div class="m">
        <a href="/"class="first">首页</a>
        <% @forum_first.each do |forum| %>
        <%=link_to forum.name,forums_homes_path(forum)%>
        <%end%>
      </div>
    </div>
    <%= yield %>
    <div id="footer">
      <div class="bmenu">网站简介 | 广告服务 | 网站地图 | 帮助信息 | 联系方式</div>
      Copyright; <a href="" target="_blank">杭州环保协会</a> Powered by <span style="font-weight:bold;font-family:arial;">李文静</span>
    </div>


  </body></html>